.App {
  text-align: center;
  margin-top: 5%;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.container {
  width: 350px;
  height: 300px;
  background-color: darkcyan;
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 15%;
  border-radius: 3%;
}

#display {
  font-size: 30px;
  padding-top: 30%;
  padding-bottom: 10%;
}

.drum-pad {
  padding: 10px;
}

.fa-github {
  transform: rotate(-360deg);
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.fa-github {
  color: black;
  margin: 0 auto;
  margin-left: 60px;
  margin-top: 10%;
}

.fa-github:hover {
  color: #9932CC;
}

.github-profile-link {
  color: #9932CC;
  font-weight: bold;
  text-decoration-line: none;
}